.small-Widget{
    margin: 10px;
    width: 360px;
    height: 290px;
    float: left;
    position: relative;
    display: flex;
    flex-direction: column;
    border: 3px solid rgb(163, 104, 10);
    
    border-radius: 30px;
    background-color: rgb(32, 32, 36);
    color: white;

}
.small-Widget-text{
    color: rgb(226, 131, 43);
    
   
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}
.small-Widget-info{

    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}
.Large-Widget{
    margin: 5px;
    
    float: left;
    position: relative;
    display: flex;
    flex-direction: column;
    border: 3px solid rgb(163, 104, 10);
    border-radius: 30px;
    background-color: rgb(32, 32, 36);

}