.info{
    font-size:4px;
    fill: rgb(85, 57, 38);
}
.maxvalue{
    font-size:5px;
    fill: rgb(166, 202, 193);
}
@keyframes draw_in {
    from: {
        stroke-dasharray: 0%;
    }   to: {
        stroke-dasharray: 100%;
    }
 }
 .donut-segment {
    animation: draw_in 2s;
   
     
 }